<div class="top-row ps-3 navbar navbar-dark bg-success shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-white" href="">🌿 SmartPlantPot</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable bg-light">
    <nav class="nav flex-column py-3">
      
@* 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plant">
                <i class="bi bi-flower1 me-2"></i> Pflanze gießen
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <i class="bi bi-gear-fill me-2"></i> Einstellungen
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
